* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Input Thumb */
  /* Input Track */
}
* input[type=range] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 0.3rem;
  background: rgb(39, 39, 39);
  border-radius: 5px;
  background-image: linear-gradient(#fff, #fff);
  background-size: 7% 100%;
  background-repeat: no-repeat;
}
* input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
* input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
* input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
* input[type=range]::-webkit-slider-thumb:hover {
  background: #29bd4c;
}
* input[type=range]::-moz-range-thumb:hover {
  background: #29bd4c;
}
* input[type=range]::-ms-thumb:hover {
  background: #29bd4c;
}
* input[type=range]:hover {
  background-image: linear-gradient(#29bd4c, #29bd4c);
}
* input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
* input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
* input[type=range]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

body {
  background-color: black;
}

#MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px;
  height: calc(100vh - 90px);
}

header {
  width: calc(100% - 150px);
  max-width: 400px;
  height: 100%;
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
header img {
  width: 120px;
  margin-bottom: 15px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100px;
}
header #pageNav {
  width: 100%;
  border-radius: 15px;
  background-color: #1e1e1e;
  margin: 5px 0px;
  padding: 0px 20px;
  height: 120px;
  align-items: flex-start;
}
header #pageNav .navItem {
  margin: 10px;
}
header #pageNav .navItem i {
  font-size: larger;
}
header #pageNav .navItem span {
  width: 90%;
  margin: 10px;
  font-size: large;
  font-weight: bolder;
}
header #library {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 15px;
  background-color: #1e1e1e;
  margin: 5px 0px 0px 0px;
  justify-content: flex-start;
}
header #library #libraryMainHeader {
  width: 100%;
  padding: 5px;
  top: 0;
}
header #library #libraryMainHeader #libraryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #library #libraryMainHeader #libraryHeader div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #library #libraryMainHeader #libraryHeader div i {
  margin-right: 10px;
  font-size: 24px;
  font-weight: bolder;
}
header #library #libraryMainHeader #playlistOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
header #library #libraryMainHeader #playlistOptions .scroller i {
  background-color: #000000;
  padding: 10px 12px;
  border-radius: 50%;
  font-weight: bolder;
}
header #library #libraryMainHeader #playlistOptions #horizontalFilter {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
}
header #library #libraryMainHeader #playlistOptions #horizontalFilter span {
  text-align: center;
  padding: 8px 10px;
  background: #000000;
  margin: 5px;
  border-radius: 15px;
  font-size: 14px;
}
header #library #libraryMainHeader #playlistHandlerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
header #library #libraryMainHeader #playlistHandlerHeader #playlistSearch button {
  display: block;
  outline: none;
  border: none;
  background-color: #000000;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
header #library #libraryMainHeader #playlistHandlerHeader #playlistSearch #playlistSearchHolder {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 15px;
  padding: 5px 5px;
}
header #library #libraryMainHeader #playlistHandlerHeader #playlistSearch #playlistSearchHolder i {
  margin-left: 10px;
}
header #library #libraryMainHeader #playlistHandlerHeader #playlistSearch #playlistSearchHolder input {
  margin: 0;
  padding: 5px;
  background-color: #000;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #fff;
}
header #library #libraryMainHeader #playlistHandlerHeader #playlistSearch #playlistSearchHolder input::-moz-placeholder {
  color: #fff;
}
header #library #libraryMainHeader #playlistHandlerHeader #playlistSearch #playlistSearchHolder input::placeholder {
  color: #fff;
}
header #library #playlistsHolder {
  width: 100%;
  height: 80%;
  max-height: calc(100vh - 420px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
header #library #playlistsHolder .playlist_ {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
header #library #playlistsHolder .playlist_ .imageHolder img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 0;
}
header #library #playlistsHolder .playlist_ .playlistData {
  width: calc(100% - 75px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #library #playlistsHolder .playlist_ .playlistData .infoContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
}
header #library #playlistsHolder .playlist_ .playlistData .infoContent h3 {
  font-size: 14px;
}
header #library #playlistsHolder .playlist_ .playlistData .infoContent .playlistDataInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header #library #playlistsHolder .playlist_ .playlistData .infoContent .playlistDataInfo button {
  margin: 5px;
  margin-left: 0px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: small;
}
header #library #playlistsHolder .playlist_ .playlistData .infoContent .playlistDataInfo button i {
  color: #fff;
}
header #library #playlistsHolder .playlist_ .playlistData .infoContent .playlistDataInfo h5 {
  white-space: nowrap;
}
header #library #playlistsHolder .playlist_ .playlistData .playlistSpeaker {
  display: none;
  margin: 10px;
  font-size: larger;
  padding-right: 10px;
}
header #library #playlistsHolder .playlist_:hover {
  background-color: #615e5e;
  border-radius: 15px;
}

#main {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  box-shadow: inset 0px 130px 160px 0px rgba(110, 23, 110, 0.65);
  border-radius: 15px;
  background-color: #1e1e1e;
}

.largerIcon {
  font-size: 2rem !important;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #615e5e;
  max-height: 150px;
}
footer #dataHandler {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
footer #dataHandler #dataImageHandlerDiv {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: aquamarine;
  background-image: url("./images/spotifyDark.jpg");
  background-size: 100% 100%;
}
footer #dataHandler #info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}
footer #dataHandler #info label {
  font-size: 14px;
  white-space: nowrap;
}
footer #dataHandler #info #fileName {
  font-weight: bold;
}
footer #dataHandler #info #fileInfo {
  font-size: 10px;
}
footer #dataHandler i {
  margin-left: 15px;
  font-size: medium;
}
footer #onlyHandlers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 70px;
}
footer #onlyHandlers #handleBar {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #onlyHandlers #handleBar #handlerButtonBar {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #onlyHandlers #handleBar #handlerButtonBar i {
  margin: 0px 10px;
  font-size: large;
}
footer #onlyHandlers #handleBar #handlerButtonBar #backward {
  rotate: 180deg;
}
footer #onlyHandlers #handleBar #handlerSliderBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #onlyHandlers #handleBar #handlerSliderBar h5 {
  white-space: nowrap;
  font-size: small;
}
footer #onlyHandlers #handleBar #handlerSliderBar input {
  width: 80%;
  margin: 0px 10px;
}
@media only screen and (max-width: 800px) {
  footer #onlyHandlers #handleBar #handlerSliderBar input {
    max-width: 200px;
  }
}
footer #onlyHandlers #moreHandlers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  max-width: 50px;
}
footer #onlyHandlers #moreHandlers i {
  margin-left: 12px;
  font-size: medium;
}
footer #onlyHandlers #moreHandlers input {
  max-width: 100px;
}/*# sourceMappingURL=style.css.map */