* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    input[type="range"] {
        -webkit-appearance: none;
        margin-right: 15px;
        width: 200px;
        height: 0.3rem;
        background: rgb(39, 39, 39);
        border-radius: 5px;
        background-image: linear-gradient(#fff, #fff);
        background-size: 7% 100%;
        background-repeat: no-repeat;
    }

    /* Input Thumb */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
    }

    input[type="range"]::-ms-thumb {
        -webkit-appearance: none;
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
    }

    input[type="range"]::-webkit-slider-thumb:hover {
        background: #29bd4c;
    }

    input[type="range"]::-moz-range-thumb:hover {
        background: #29bd4c;
    }

    input[type="range"]::-ms-thumb:hover {
        background: #29bd4c;
    }

    input[type="range"]:hover {

        background-image: linear-gradient(#29bd4c, #29bd4c);
    }

    /* Input Track */
    input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    input[type=range]::-moz-range-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    input[type="range"]::-ms-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
}

body {
    background-color: black;
}

#MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;
    height: calc(100vh - 90px);
}

header {
    // position: absolute;
    // top: 0;
    width: calc(100% - 150px);
    max-width: 400px;
    height: 100%;
    // max-height: calc(100vh - 270px);
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    img {
        width: 120px;
        margin-bottom: 15px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 100px;
    }

    #pageNav {
        width: 100%;
        border-radius: 15px;
        background-color: #1e1e1e;
        margin: 5px 0px;
        padding: 0px 20px;
        height: 120px;
        align-items: flex-start;

        .navItem {
            margin: 10px;

            i {
                font-size: larger;
            }

            span {
                width: 90%;
                margin: 10px;
                font-size: large;
                font-weight: bolder;
            }
        }
    }

    #library {
        width: 100%;
        height: 100%;
        max-height: calc(100%);
        border-radius: 15px;
        background-color: #1e1e1e;
        margin: 5px 0px 0px 0px;
        justify-content: flex-start;

        #libraryMainHeader {
            width: 100%;
            // height: 20%;
            padding: 5px;
            top: 0;
            // box-shadow: 0px 10px 30px #000;

            #libraryHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        margin-right: 10px;
                        font-size: 24px;
                        font-weight: bolder;
                    }

                }
            }

            #playlistOptions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .scroller {
                    i {
                        // padding: 10px;
                        background-color: #000000;
                        padding: 10px 12px;
                        border-radius: 50%;
                        font-weight: bolder;
                    }
                }

                #horizontalFilter {
                    width: 400px;
                    height: fit-content;
                    white-space: nowrap;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    display: flex;

                    span {
                        text-align: center;
                        padding: 8px 10px;
                        background: #000000;
                        margin: 5px;
                        border-radius: 15px;
                        font-size: 14px;
                    }
                }
            }

            #playlistHandlerHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                #playlistSearch {
                    button {
                        display: block;
                        outline: none;
                        border: none;
                        background-color: #000000;
                        border-radius: 50%;
                        padding: 10px;
                        cursor: pointer;
                    }

                    #playlistSearchHolder {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        background-color: #000000;
                        border-radius: 15px;
                        padding: 5px 5px;

                        i {
                            margin-left: 10px;
                        }

                        input {
                            margin: 0;
                            padding: 5px;
                            background-color: #000;
                            outline: none;
                            border: none;
                            border-radius: 15px;
                            color: #fff;
                        }

                        input::placeholder {
                            color: #fff;
                        }
                    }
                }

                #playlistSorter {}
            }
        }

        #playlistsHolder {
            width: 100%;
            height: 80%;
            max-height: calc(100vh - 420px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;

            .playlist_ {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                margin: 5px;

                .imageHolder {
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 15px;
                        margin-bottom: 0;
                    }
                }

                .playlistData {
                    width: calc(100% - 75px);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .infoContent {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;
                        width: 80%;

                        h3 {
                            font-size: 14px;
                        }

                        .playlistDataInfo {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            button {
                                margin: 5px;
                                margin-left: 0px;
                                outline: none;
                                border: none;
                                background-color: transparent;
                                font-size: small;

                                i {
                                    color: #fff;
                                }
                            }

                            h5 {
                                white-space: nowrap;

                            }
                        }
                    }

                    .playlistSpeaker {
                        display: none;
                        margin: 10px;
                        font-size: larger;
                        padding-right: 10px;
                    }
                }
            }

            .playlist_:hover {
                background-color: #615e5e;
                border-radius: 15px;
            }
        }
    }
}


#main {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    -webkit-box-shadow: inset 0px 130px 160px 0px rgba(110, 23, 110, 0.65);
    -moz-box-shadow: inset 0px 130px 160px 0px rgba(110, 23, 110, 0.65);
    box-shadow: inset 0px 130px 160px 0px rgba(110, 23, 110, 0.65);
    border-radius: 15px;
    background-color: #1e1e1e;
}

.largerIcon {
    font-size: 2rem !important;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #615e5e;
    max-height: 150px;

    #dataHandler {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;

        #dataImageHandlerDiv {
            width: 60px;
            height: 60px;
            border-radius: 15px;
            background-color: aquamarine;
            background-image: url("./images/spotifyDark.jpg");
            background-size: 100% 100%;
        }

        #info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 10px;

            label {
                font-size: 14px;
                white-space: nowrap;
            }

            #fileName {
                font-weight: bold;
            }

            #fileInfo {
                font-size: 10px;
            }
        }

        i {
            margin-left: 15px;
            font-size: medium;
        }
    }

    #onlyHandlers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 70px;

        // box-shadow: -50px 0px 30px 0px #000;
        #handleBar {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #handlerButtonBar {
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin: 0px 10px;
                    font-size: large;
                }

                #backward {
                    rotate: 180deg;
                }
            }

            #handlerSliderBar {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                h5 {
                    white-space: nowrap;
                    font-size: small;
                }

                input {
                    width: 80%;
                    margin: 0px 10px;
                }

                @media only screen and (max-width: 800px) {
                    input {
                        max-width: 200px;
                    }
                }
            }
        }

        #moreHandlers {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 25%;
            max-width: 50px;

            i {
                margin-left: 12px;
                font-size: medium;
            }

            input {
                // width: 100%;
                max-width: 100px;
            }
        }
    }
}