* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// .fa{
//     color: rgb(24, 194, 41);    
// }

body {
    background-color: black;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;

    img {
        width: 120px;
    }

    ;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ;

    #pageNav {
        width: 40%;
    }

    #authNav {
        width: 20%;
    }
}

.largerIcon {
    font-size: 2rem !important;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #444343;

    #dataHandler {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;

        #dataImageHandlerDiv {
            width: 60px;
            height: 60px;
            border-radius: 15px;
            background-color: aquamarine;
            background-image: url("./images/spotifyDark.jpg");
            background-size: 100% 100%;
        }

        #info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 10px;

            label {
                font-size: 14px;
                white-space: nowrap;
            }

            #fileName {
                font-weight: bold;
            }

            #fileInfo {
                font-size: 10px;
            }
        }

        i {
            margin-left: 15px;
            font-size: medium;
        }
    }

    #handleBar {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #handlerButtonBar {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                margin: 10px;
                font-size: large;
            }

            #backward {
                rotate: 180deg;
            }
        }

        #handlerSliderBar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h5 {
                font-size: medium;
                padding: 0px 10px;
            }

            input {
                width: 70%;
            }
        }
    }

    #moreHandlers {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;

        i {
            margin-left: 15px;
            font-size: medium;
        }

        input {
            // width: 100%;
            max-width: 100px;
        }
    }
}